<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gestão de Condomínio</title>
</head>
<body>
<th:block th:fragment="conteudo">
    <main role="main" class="container">
        <div class="container-login" style="max-width: 350px;">
            <div class="logo-login text-center">
                <img src="images/logo.png">
            </div>

            <div th:if="${param.erro}">
                <div class="alert alert-danger">Usuário ou senha inválidos!</div>
            </div>
            <div th:if="${param.sair}">
                <div class="alert alert-info">Desconectado com sucesso!</div>
            </div>
            <div th:if="${param.redefinido}">
                <div class="alert alert-success">Senha redefinida, tente entrar novamente!</div>
            </div>
            <div th:if="${param.alterado}">
                <div class="alert alert-success">Seu cadastro foi alterado, você precisa entrar novamente!</div>
            </div>
            <div th:if="${param.novo}">
                <div class="alert alert-success">Sua conta foi criada, obrigado!</div>
            </div>
            <form th:action="@{/entrar}" th:method="post" class="needs-validation" autocomplete="off" novalidate>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                                </div>
                                <input class="form-control last input-login" type="text" name="username"
                                       placeholder="Seu usuário" autofocus="autofocus" required/>
                                <div class="invalid-feedback">Campo obrigatório</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                <input class="form-control last input-login" type="password" name="password"
                                       placeholder="Sua senha" required/>
                                <div class="invalid-feedback">Campo obrigatório</div>
                            </div>
                            <small><a th:href="@{/conta/redefinir}" tabindex="-1">Esqueci minha senha</a></small>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block input-login">
                            Entrar<i class="fas fa-sign-in-alt ml-3"></i>
                        </button>
                    </li>
                </ul>
            </form>
            <p class="text-center mt-3">
                <a th:href="@{/conta/cadastrar}">Cadastre-se</a>
            </p>
        </div>
    </main>
</th:block>
<th:block th:fragment="jsAdicional"></th:block>
</body>
</html>