<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="cabecalho">
    <header>
        <nav id="navbarTop" class="navbar navbar-expand-md navbar-dark fixed-top bg-primary d-print-none">
            <a class="navbar-brand" th:href="@{/sindico}"><i class="fa fa-building fa-lg fa-fw"></i>Gestão de Condomínio</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" id="navbarToggler"
                    data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mr-auto"></div>
                <div sec:authorize="isAnonymous()">
                    <form class="form-inline mt-2 mt-md-0" th:action="@{/login}" method="get">
                        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Entrar</button>
                    </form>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <form class="form-inline mt-2 mt-md-0" th:action="@{/sair}" method="post">
                        <div class="btn-group">
                            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Sair</button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </header>
</th:block>
</body>
</html>
